:root { 
--green_100:#c5e2c7; 
--blue_gray_50:#f0f0f2; 
--red_700:#db3232; 
--blue_A400:#1877f2; 
--red_800:#cc202d; 
--deep_purple_600:#6441a5; 
--green_600:#3d9d43; 
--black_900:#000000; 
--yellow_800:#f79e1b; 
--red_700_01:#d42428; 
--red_A700:#eb001b; 
--black_900_26:#00000026; 
--white_A700_4c:#ffffff4c; 
--gray_600:#7f7f7f; 
--blue_gray_100:#c5d7e2; 
--blue_gray_400:#8e8e99; 
--blue_500:#1ca1f1; 
--orange_A700:#ff5f00; 
--red_A200:#ff5548; 
--blue_gray_500:#3d789d; 
--gray_900:#231f20; 
--gray_200:#e8e8eb; 
--gray_300:#e3e3e3; 
--gray_100:#f6f6f8; 
--indigo_300:#7388da; 
--red_800_01:#ba202e; 
--black_900_33:#00000033; 
--white_A700:#ffffff; 
}